<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>"jdbc:mysql://localhost:3306/favoritos?user=root&amp;password=root"</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ControladorPC</servlet-name>
        <servlet-class>controlador.ControladorPC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPC</servlet-name>
        <url-pattern>/controladorpc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<welcome-file-list>
        <welcome-file>inicio.htm</welcome-file>
    </welcome-file-list> -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ControladorWeb</servlet-name>
        <servlet-class>controlador.ControladorWeb</servlet-class>
        <!--<init-param>
            <param-name>url</param-name>
            <param-value>"jdbc:mysql://localhost:3306/favoritos?user=root&amp;password=adminadmin"</param-value>
        </init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorWeb</servlet-name>
        <url-pattern>/controladorweb</url-pattern>
    </servlet-mapping>
</web-app>
